name: Test and publish
on: 
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
    TestCommon:
      uses: ./.github/workflows/TestCommon.yml
      secrets: inherit

    TestUnity:
      uses: ./.github/workflows/TestUnity.yml
      secrets: inherit
    
    PublishNugetPackage:
      needs: [TestCommon, TestUnity]
      uses: ./.github/workflows/PublishNugetPackage.yml
      secrets: inherit
    
    PublishUnity3dPackage:
      needs: [TestCommon, TestUnity]
      uses: ./.github/workflows/PublishUnity3dPackage.yml
      secrets: inherit
      permissions:
        contents: write